anthropic==0.34.2
chromadb==0.5.3
dataclasses-json==0.6.7
docx2txt==0.8
humanfriendly==10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
langchain==0.3.0
langchain-anthropic==0.2.1
langchain-chroma==0.1.4
langchain-community==0.3.0
langchain-core==0.3.1
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.123
markdown-it-py==3.0.0
marshmallow==3.22.0
numpy==1.26.4
pandas==2.2.2
pillow==10.4.0
platformdirs==4.3.6
pypdf==5.0.0
tiktoken==0.7.0
tokenizers==0.20.0
